$bg-color: #22577A;
$text-color: #C7F9CC;
$alt-color1: #57CC99;
$alt-color2: #80ED99;
$high-color: #FCD0A1;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: $bg-color;
  color: $text-color;

}

main {
  .container {
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
      height: 100dvh;
    }
  }

  h1, p {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 54px;
    margin-top: 0;

    @media (max-width: 767px) {
      font-size: 2rem;
    }
  }

  h1 + p {
    width: 700px;

    @media (max-width: 767px) {
      width: 300px;
    }
  }

  p {
    font-size: 1.35rem;

    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }

  span {
    font-weight: bold;
    font-size: 1.1em;

    &#data-atual, &#data-aniver {
      color: $alt-color2;
    }

    &#contagem-regressiva, &#proxima-idade {
      color: $high-color;
      font-size: 2rem;
    }
  }
}

